#root {
  max-width: 1200px; 
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  text-align: center;
  background-color: rgba(222, 184, 135, 0.3);
}

#image{
  width: 350px;
  height: 200px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}
