#root {
  text-align: center;
  background-color: 	rgb(123, 63, 0);
  width: 100vw;
}

#image{
  width: 250px;
  height: 150px;
  border-radius: 20px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
  list-style: none;
  margin: 0;
}

.cards li {
  flex: 1 1 300px;
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}


.cards li:hover {
  transform: translateY(-10px);
}

.card{
  background-color: 	rgb(218, 160, 109);
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.card input{
  padding: 10px;
  margin: 5px;
  background-color: black;
  border-color: rgb(218, 160, 109);
  border-radius: 10px;
}

#header{
  background-color: rgb(218, 160, 109);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.btn-edit{
  background-color: black;
}

.btn-delete{
  background-color: black;
  
}

#link-nav{
  color: rgb(123, 63, 0);
  font-size: 17px;
}
.title h1{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  font-weight: bolder;
  font-size: 70px;
  margin-bottom: 0%;
}

.title p{
  padding-top: 0px;
}

.new-furniture{
background-color: 	rgb(218, 160, 109);
color: rgb(123, 63, 0);
padding: 20px;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
max-width: 400px;
margin: 0 auto;
font-family: Arial, sans-serif;
}

.new-furniture input{
  padding: 10px;
  margin:2px;
  border-radius: 10px;
  color: white;
  background-color: black;
}

.btn-edit:hover{
  background-color:  green;
}

.btn-delete:hover{
  background-color: red;
}

.search-me{
  margin-top: 20px;
  color: aliceblue;
  font-weight: 400; 
}

.search-me input{
  padding: 10px;
  border-radius: 10px;
  background-color: black;
}

.about{
  width: 100vw;
  height: 100vh;
}
.contacts{
  width: 100vw;
  height: 100vh;
}

.item{
  color:rgb(123, 63, 0);
  margin-bottom: -8%;
}

.item-2{
  color:rgb(123, 63, 0);
  margin-bottom: -6%;
}

.item-3{
  color:rgb(123, 63, 0);
 
}


